.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f4efef;
  min-width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: black;
  list-style-type: disc;
}
.dropdown-content a :hover {
  display: block;
  text-decoration: underline;
}
.dropdown-content ul li {
  /* list-style-type: disc; */
  margin: 0;
  padding: 4.5px;
  
}
.dropdown-content ul li:hover {
  color: rgb(222, 65, 65);
}

.logo123{
  /* margin-top: 40px; */
  padding-top: 40px;
  font-size: 22px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  color: rgb(42, 6, 134);
}

.header-logo{
  height: 100px;
  width: 100px;
}

.header-a{
  font-size: 18px;
  text-decoration: none;
  color: black;
  font-weight: 700;
  padding: 0 15px;
  padding-top: 40px;
}

@media  (max-width: 700px) {
 
  .logo123 {
    /* font-size: 10px;  */
    padding-top: 25px;
  font-weight: 400;

  }

  .header-logo{
    height: 90px;
    width: 90px;
    padding-bottom:15px;
  }

  .header-a{
      font-size: 6px;
      text-decoration: none;
      padding: 0 8px;
      padding-top: 40px;
  }
}



.heading-about{
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(43, 174, 226);
  margin-bottom: 20px;
}

.home-para{
  font-size: 18px;
}

.a-index{
  z-index: 1000;
}

.header12{
  display: flex;
  justify-content: space-between;
}

.header-a:hover{
  color: rgb(72, 72, 224);
}

.navToggle{
  display: flex;
  justify-content: flex-end;
}
